[user]
    name = richardhapb
    email = richard.hapb@icloud.com
[core]
    autocrlf = input
[push]
    default = current
[submodule]
    recurse = true
[alias]
    a = add .
    st = status
    co = checkout
    cm = commit -m
    br = branch
    df = diff
    lg = log -p
    am = ammend --no-edit
    rs = restore .
    tree = log --graph --pretty=oneline --abbrev-commit
    pod = remote prune origin --dry-run
    pof = remote prune origin
[init]
    defaultBranch = main
[includeif "gitdir:~/dev/"]
    path = ~/configs/.gitconfig-work
[rerere]
    enabled = true

