[user]
    name = Richard Peña
    email = richard.penab@gmail.com
[core]
    autocrlf = input
    fileMode = false
    excludesfile = ~/.gitignore_global
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d -u ~/dotfiles/min-vim/.vimrc \"$LOCAL\" \"$REMOTE\""
[push]
    default = current
[submodule]
    recurse = false
[alias]
    a = add .
    st = status
    co = checkout
    cm = commit -m
    br = branch
    df = diff
    lg = log -p
    am = ammend --no-edit
    rs = restore .
    tree = log --graph --pretty=oneline --abbrev-commit
    pod = remote prune origin --dry-run
    pof = remote prune origin
[init]
    defaultBranch = main
[includeif "gitdir:~/dev/**"]
    path = ~/.gitconfig-work
[includeif "gitdir:~/wip/**"]
    path = ~/.gitconfig-work
[rerere]
    enabled = true
# Machine-specific config (commit signing, etc.). Optional; git ignores it if missing.
[include]
    path = ~/.gitconfig-local
