/*
!.gitignore
!.zshrc
!.tmux.conf
!.tmux_mac.conf
!.tmux_linux.conf
!.wezterm.lua
!.gitmodules
!.gitconfig

!.config
.config/**
!.config/nvim
!.config/nvim/**
!kanata
kanata/**
!kanata/kanata.kdb
!kanata/kanata81.kdb
!kanata/kanata_mac.kdb

