[user]
	name = richard
	email = richard@syzlab.com
[core]
	autocrlf = input
[push]
    default = current
[alias]
    a = add .
	st = status
    co = checkout
    cm = commit -m
    br = branch
    df = diff
    lg = log -p
    am = ammend --no-edit
    rs = restore .
    tree = log --graph --pretty=oneline --abbrev-commit
